#link_section {
    background-color: var(--secondary-color);
    padding: 20px 0
}

footer {
  margin-bottom: 20px;
  justify-content: center;

  margin-top: auto;

  width: 100%;
}

footer .flex_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

footer a{
  color: var(--secondary-text-color);
  position: relative;
  padding: 3px;
}


.footer_item{
  width: 200px;
  max-width: calc(90% - 40px);
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.footer_item *{
  text-align: center;
}