:root{
    --main-brand-color: #990000;
    --primary-color: #15171C;
    --secondary-color: #232933;
    --light-secondary-color: #2E3744;
    --text-color: white;
    --secondary-text-color: #b3b486;

}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    color: var(--text-color)
}

h1{
    font-size: 100px;
    line-height: 110%;
}
h3{
    font-size: 38px;
}
@media(max-width: 800px){
    body{
        font-size: 16px;
    }
    h3{
        font-size: 28px;
    }
    h1{
        font-size: 12vw;
        text-align: center;
    }
    .subheading{
        text-align: center;
    }
}